crewai>=0.28.8
crewai[tools]>=0.1.2
langchain-google-genai==1.0.2
python-dotenv==1.0.1
chromadb==0.4.24
schedule==1.2.1
google-api-python-client==2.126.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
moviepy==1.0.3
replicate==0.25.1
elevenlabs==1.2.0
google-cloud-texttospeech==2.15.0
requests==2.31.0
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
diffusers[torch]==0.27.2
transformers==4.40.1
accelerate==0.29.3
pydantic==1.10.13
dlib-bin==19.24.0
face-alignment==1.4.1
opencv-python==4.9.0.80